---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Test Astro</title>
	</head>
	<body>
		<h1>another blog page  </h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">go about</a></li>
            <li><a href="/blog">go blog</a></li>
        </ul>
	</body>
</html>
